body {
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px;
}

/* NAVBAR */
.custom-navbar {
  background-color: #b00000;
  padding: 8px 20px;
}

.custom-navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  opacity: 0.75;
}

.search-box input {
  border-radius: 50px;
  padding-left: 30px;
  height: 32px;
  border: none;
}

.search-box input::placeholder {
  font-size: 14px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: white;
  margin: 0 10px;
  opacity: 0.7;
}

.search-box {
  position: relative;
}

.search-box::before {
  content: "🔍";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 991.98px) {
  .divider {
    display: none !important;
  }
}

/* BIENVENIDXS */
.triple-carousel-container img {
  transition: all 0.5s ease-in-out;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.triple-main {
  width: 260px;
  max-width: 40%;    
  transform: scale(1.1);
  transition: opacity 0.4s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.triple-small {
  width: 170px;
  max-width: 28%;     
  opacity: 0.8;
}

.triple-main:hover,
.triple-small:hover {
  transform: scale(1.05);
  opacity: 1;
}

@media (max-width: 700px) {

  .triple-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    margin-top: 40px;   
    margin-bottom: 20px;
  }

  .triple-main {
    width: 40%;   
    transform: scale(1);
  }

  .triple-small {
    width: 25%;  
    margin-left: -9px;
    margin-right: -9px;
  }

  .triple-carousel-container img {
    height: auto;
    object-fit: contain;
  }
}


/* PROGRAMACIÓN */
.program-card {
  position: relative;
  overflow: hidden;
}

.program-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #fff;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s ease;
}

.program-card:hover::before {
  opacity: 1;
}

.program-card .img-normal,
.program-card .img-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 10px;
  object-fit: contain;
  transition:
  opacity 0.3s ease,
  transform 0.4s ease,
  filter 0.4s ease;
}

.program-card .img-normal {
  z-index: 0;
  opacity: 1;
}

.program-card .img-hover {
  z-index: 2;
  opacity: 0;
}

.program-card:hover .img-hover {
  opacity: 1;
  transform: scale(1.08);
  filter: brightness(1.2);
}

.program-card:hover .img-normal {
  opacity: 0;
}

.program-card img {
  border-radius: 15px 15px 0 0;
  height: 120px;       
  object-fit: contain;   
  padding: 10px;
}

.program-card:hover {
 transform: scale(1.05);
 box-shadow: 0 8px 16px rgba(0,0,0,0.15);
 border-width: 3px;
}

.card-1:hover { border-color: #3abefc; }
.card-2:hover { border-color: #14582e; }
.card-3:hover { border-color: #ff96ad; }
.card-4:hover { border-color: #15fa15; }
.card-5:hover { border-color: #10b639; }
.card-6:hover { border-color: #6070ff; }
.card-7:hover { border-color: #681668; }
.card-8:hover { border-color: #0004e2; }
.card-9:hover { border-color: #ff0000; }
.card-10:hover { border-color: #ff399c; }
.card-11:hover { border-color: #ff7300; }
.card-12:hover { border-color: #ffb01c; }

.btn-danger {
 background-color: #b60000 !important;
 border: none !important;
}

/* TEMPORADA DESPLEGABLE */
.accordion-button {
  font-size: 18px;
  justify-content: center;
  color: #B70F0A;
  text-align: center;
  align-items: center;
}

.accordion-button.bg-danger {
  background-color: #B70F0A !important;
  color: white !important;
}

.logo-temp {
  width: 130px;
  height: 130px; 
  object-fit: contain;
  object-position: center;
  transition: transform 0.25s ease, filter 0.25s ease;
  cursor: pointer;
}

.logo-temp:hover {
  transform: scale(1.08);
  filter: brightness(1.1);
}

/* EN VIVO */
.live-dot {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 5px red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: .4; }
  100% { transform: scale(1); opacity: 1; }
}

.live-container {
  width: 100%;
  max-width: 400px;        
  margin: 40px auto;
  border-radius: 20px;     
  overflow: hidden;    
  border: 4px solid #B70F0A;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}

.live-container iframe {
  width: 100%;
  height: 218px;
  display: block;
}

.btn-stream {
  background: #fff;
  border: 2px solid #d32f2f;
  border-radius: 50px;
  padding: 8px 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-stream:hover {
  background: #d32f2f;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.icon-yt {
  width: 24px;
  height: 24px;
}

.bell-icon {
  font-size: 22px;
}


/* CONTENIDO DESTACADO */
.destacados-container {
  position: relative;
  overflow: hidden;
  background: #b40000;
  padding: 40px 0;
}

.destacados-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 0 60px;
}

@media (min-width: 993px) {
  .destacados-wrapper {
    justify-content: center;
  }
}

.destacados-wrapper::-webkit-scrollbar {
  display: none;
}

.destacado-item {
  flex: 0 0 auto;
  width: 220px;    
  height: 390px;   
  margin: 0 10px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #000;
  cursor: pointer;
  transition: transform .3s ease, box-shadow .3s ease;
  aspect-ratio: 9 / 16;
}

.video-reel {
  width: 100% !important;
  height: 100% !important;
}

.instagram-media {
  min-width: 0 !important;
  max-width: 100% !important;
}

.destacado-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0,0,0,0.35);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 2rem;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background .2s ease, transform .2s ease;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.55);
  transform: translateY(-50%) scale(1.1);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.video-reel {
  width: 100% !important;
  height: 100% !important;
  border: 0;
}


@media (max-width: 756px) {
  .destacado-item {
    width: 80vw;  
    max-width: 220px;
    aspect-ratio: 9 / 16;
  }

  .destacados-wrapper {
    padding: 0 40px;
  }

  .arrow-left,
  .arrow-right {
    font-size: 1.4rem;
    padding: 6px 9px;
  }
}


/* REDES */
.redes-section h3 {
  font-weight: 700;
  letter-spacing: 1px;
}
.social-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  width: 60px; 
  padding: 10px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}
.social-card:hover {
  transform: scale(1.08);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}
.social-link {
  text-decoration: none;
  display: block;
}
.social-card img {
    width: 40px;
  height: 40px; 
  object-fit: contain;
  display: block;
}


@media (max-width: 760px) {
.redes-section .row {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
  }

  .redes-section .col-4 {
    flex: 0 0 auto;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
    margin-bottom: -49px !important;
}